build
__pycache__*
.coverage*
.env
.venv
.mypy_cache
.pytest_cache
.ruff_cache
*.bak
.vscode
dist
.dockerignore
.bedrock_agentcore.yaml
.bedrock_agentcore/*
.ipynb_checkpoints
Dockerfile
*.iml
requirements.txt
.DS_Store
documentation/site
documentation/.cache
.agentcore.yaml
output*/
.serena/
